version: '3.8'

services:
  backend:
    build:
      context: ./src/backend
      dockerfile: Dockerfile
    ports:
      - "3011:3011"
    restart: unless-stopped

  frontend:
    build:
      context: ./src/frontend
      dockerfile: Dockerfile
    ports:
      - "3010:3010"
    depends_on:
      - backend
    restart: unless-stopped

networks:
  default:
    name: aiml-network